<div class="term1">
    <div>
        <h1>Frequently Asked Questions</h1>
        <br>
        <hr>
    </div>
    <h3>1. How can i register a new account ?</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dapibus accumsan malesuada. 
       Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec eu faucibus velit. 
       Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla iaculis facilisis nulla, eu mollis nulla tempor et.
    </p>
    <br>
    <h3>2. How can i apply the job that i want ?</h3>
    <p>Quisque et luctus orci. Quisque dictum ante urna, eu molestie enim pulvinar vel. Suspendisse imperdiet tempor varius. 
       Vivamus non facilisis massa, a lobortis tellus. Nam luctus iaculis semper. 
       Nulla eros sem, aliquet semper elementum eget, fringilla eu enim. Morbi sed feugiat ex. Aenean sed vestibulum ipsum.</p>
    <br>
    <h3>3. How can i change my profile picture ?</h3>
    <p>Nunc efficitur malesuada porttitor. Etiam malesuada scelerisque leo, non consequat massa suscipit ut. 
       Curabitur egestas sed sapien vitae mattis. Maecenas in tellus fringilla, hendrerit neque ac, tristique sem. Vivamus nec purus vehicula, porttitor diam vel, aliquet nulla. 
       Cras et nibh tortor. In accumsan urna tellus, eget imperdiet mauris vestibulum vel. Pellentesque et porta ante.</p>
    <br>
    <h3>4. What if i forgot my password ?</h3>
    <p>Quisque malesuada nunc vel pharetra aliquet. Fusce rhoncus interdum risus sit amet feugiat. 
       Pellentesque tincidunt nec felis id feugiat. Sed facilisis quis nulla eu convallis.</p>
    <br>
    <h3>5. What website is this ?</h3>
    <p>Nullam posuere mi orci, vitae eleifend velit malesuada vitae. Mauris vehicula lectus mauris, non accumsan risus convallis et. 
       Phasellus lacus enim, lacinia sit amet diam in, semper maximus mauris. Nulla facilisi.</p>
    <br>
    <h3>6. Can i check my resume status ?</h3>
    <p>Nullam aliquam sit amet odio ac varius. Suspendisse semper a enim at convallis. 
       Duis vehicula, justo in malesuada placerat, leo tellus volutpat dolor, eget rutrum nisl nisl id dolor. Etiam a lacus mi.</p>
    <br>
</div>

