<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="breadcrumb">
          <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
          <li class="active">FaQ</li>
         
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="callaction">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="big-cta">
          <div class="cta-text">
            <h2>Upload your CV in here</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
<section id="content">
  <div class="container">
    <div class="row" ng-controller="getMyProfileStudentCtrl">
     <form class="form-horizontal" ng-controller="editStudentProfileServiceCtrl">
      <div class="box-body">
      <div class="form-group">
          
              <div class="well">
              <br>
               <div class="col-sm-3"></div>
                <div class="col-sm-3 "><input  type="file" fileread="cv" /></div>
                <div class="col-sm-3 ">
                <a  type="button" class="btn btn-theme btn-large" value="Send" ng-click="uploadCV()" href="#!/studentprofile">Upload</a>
                <a href="#!/studentprofile/addCV" type="button" class="btn btn-theme btn-large">Back</a>


                </div>
                <br>
                <br>
              </div>
      </div>
      </div>
      </form> 
    </div>
  </div>
</section>

<script src="assets/js/jquery.js"></script>
<script src="assets/js/jquery.easing.1.3.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.fancybox.pack.js"></script>
<script src="assets/js/jquery.fancybox-media.js"></script>
<script src="assets/js/google-code-prettify/prettify.js"></script>
<script src="assets/js/portfolio/jquery.quicksand.js"></script>
<script src="assets/js/portfolio/setting.js"></script>
<script src="assets/js/jquery.flexslider.js"></script>
<script src="assets/js/animate.js"></script>
<script src="assets/js/custom.js"></script>
