<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
              <ul class="breadcrumb">
                  <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                   <li><a href="#!/studentprofile">Student Profile</a><i class="icon-angle-right"></i></li>
                  <li class="active">Add CV</li>
              </ul>
            </div>
        </div>
    </div>
    </section>
    <section id="content" ng-controller="addCVCtrl">
    <div class="container" ng-controller="getMyProfileStudentCtrl">
            <div class="row">
          <!-- Horizontal Form -->
          <div class="col-md-1"></div>
          <div class="col-md-9">
          <div pdf-save-content="CV" >
          <div class="box box-info">
            <div class="box-header with-border" >
              <h3 class="box-title" align="center">CURRICULUM VITAE</h3>
              <img class="avatar center" ng-src="assets/img/avatar.png" alt=""  />
              <br>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal">
              <div class="box-body">
              <h5>SELF INFORMATIONS</h5>
                <div class="form-group">
                  <label for="full_name"  class="col-sm-2 control-label">Full Name</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="fullname" ng-model="student.full_name" placeholder="">
                  </div>
                </div>
                
                <div class="form-group">
                  <label for="email" class="col-sm-2 control-label">Email</label>

                  <div class="col-sm-10">
                    <input type="email" class="form-control" name="email" ng-model="student.email" placeholder="">
                  </div>
                </div>
                <div class="form-group">
                  <label for="gender" class="col-sm-2 control-label">Gender</label>
                  <div class="col-sm-10">
                    <input type="radio" ng-model="student.gender" value="Male" required>  Male <br/>
                    <input type="radio" ng-model="student.gender" value="Female" required> Female <br/>
                  </div>
                </div>
                <div class="form-group">
                  <label for="contact" class="col-sm-2 control-label">Contact</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="contact" ng-model="student.user_profile.contact" placeholder="Email">
                  </div>
                </div>
                
                <div class="form-group">
                  <label for="address" class="col-sm-2 control-label">Address</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="address" ng-model="student.user_profile.address" placeholder="">
                  </div>
                </div>
                <div class="form-group">
                  <label for="description"  class="col-sm-2 control-label">Descriptions</label>

                  <div class="col-sm-10">
                  <textarea class="form-control" name="description" ng-model="student.user_profile.description" rows="5" data-rule="required" data-msg="Please write something for us" placeholder=""></textarea>
                  </div>
                </div>
                
                
              </div>
              <br>
              

              <div class="box-body" >
              <h5>EDUCATION HISTORIES</h5>
                <div class="form-group">
                  <label for="sd" class="col-sm-2 control-label">SD</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="address" ng-model="sd" placeholder="">
                  </div>
                </div>
                <div class="form-group">
                  <label for="smp" class="col-sm-2 control-label">SMP</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="smp" ng-model="smp" placeholder="">
                  </div>
                </div>
                <div class="form-group">
                  <label for="sma" class="col-sm-2 control-label">SMA</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="sma" ng-model="sma" placeholder="">
                  </div>
                </div>
                <div class="form-group">
                  <label for="kuliah" class="col-sm-2 control-label">Kuliah</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="kuliah" ng-model="kuliah" placeholder="">
                  </div>
                </div>
                
                
              </div>
              <div class="box-body" >
              <h5>ORGANIZATION HISTORIES</h5>
                <div class="form-group">
                  <!-- <label for="org" class="col-sm-2 control-label">Organization Histories</label> -->

                  <div class="col-sm-12">
                    <input type="text" class="form-control" name="org1" ng-model="org1" placeholder="1) .....">
                    <input type="text" class="form-control" name="org2" ng-model="org2" placeholder="2) .....">
                    <input type="text" class="form-control" name="org3" ng-model="org3" placeholder="3) .....">
                  </div>
                </div>
                
              </div>

              <div class="box-body" >
              <h5>WORK STORIES</h5>
                <div class="form-group">
                 <!--  <label for="work" class="col-sm-2 control-label">Work Stories</label> -->

                  <div class="col-sm-12">
                    <input type="text" class="form-control" name="work1" ng-model="work1" placeholder="1) .....">
                    <input type="text" class="form-control" name="work2" ng-model="work2" placeholder="2) .....">
                    <input type="text" class="form-control" name="work3" ng-model="work3" placeholder="3) .....">
                  </div>
                </div>
                
              </div>
              <div class="box-body" >
              <h5>PRESTASI</h5>
                <div class="form-group">
                 <!--  <label for="prestasi" class="col-sm-2 control-label">Prestasi</label>
 -->
                  <div class="col-sm-12">
                    <input type="text" class="form-control" name="prestasi1" ng-model="prestasi1" placeholder="1) .....">
                    <input type="text" class="form-control" name="prestasi2" ng-model="prestasi2" placeholder="2) .....">
                    <input type="text" class="form-control" name="prestasi3" ng-model="prestasi3" placeholder="3) .....">
                  </div>
                </div>
                
              </div>
              <div class="box-body" ng-controller="editStudentProfileServiceCtrl">
              <h5>SKILLS</h5>
                <div class="form-group" >
                
                  <!-- <label for="qualify_id" class="col-sm-2 control-label">Qualifies</label> -->
                  <div class="col-sm-12" ng-repeat="qualify in qualifies">
                     <input type="checkbox" checklist-model="qualify_id" checklist-value="qualify.id"> {{qualify.name}}
                  </div>
                </div>
              </div>
              <!-- /.box-body -->
              
              <!-- /.box-footer -->
            </form>
           
          </div>
          </div>
          <div class="text-right">
          <button pdf-save-button="CV" pdf-name="CV{{student.full_name}}.pdf" class="btn btn-theme">DOWNLOAD TO PDF</button>
           <a  href="#!/studentprofile" class="btn btn-theme">Back</a>
          </div>

          </div>
          <div class="col-md-3"></div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br><br>
            
        </div>
    </section>