<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
              <ul class="breadcrumb">
                  <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                   <li><a href="#!/studentprofile">Student Profile</a><i class="icon-angle-right"></i></li>
                  <li class="active">Add CV</li>
              </ul>
            </div>
        </div>
    </div>
    </section>
    <section id="content" ng-controller="addCVCtrl">
    <div class="container" ng-controller="getMyProfileStudentCtrl">
            <div class="row">
          <!-- Horizontal Form -->
          <div class="col-md-2"></div>
          <div class="col-md-9">
          <div >
          <div class="box box-info">
            <div class="box-header with-border" >
              <h5 class="well" align="center">Please input your more data fisrt to complete your CV, and then download your CV to complete your profile details</h5>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal">
              <div class="box-body" >
              <h5 align="center">EDUCATION HISTORIES</h5>
                <div class="form-group">
                  <label for="sd" class="col-sm-2 control-label">SD</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="address" ng-model="sd" placeholder="">
                  </div>
                </div>
                <div class="form-group">
                  <label for="smp" class="col-sm-2 control-label">SMP</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="smp" ng-model="smp" placeholder="">
                  </div>
                </div>
                <div class="form-group">
                  <label for="sma" class="col-sm-2 control-label">SMA</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="sma" ng-model="sma" placeholder="">
                  </div>
                </div>
                <div class="form-group">
                  <label for="kuliah" class="col-sm-2 control-label">Kuliah</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="kuliah" ng-model="kuliah" placeholder="">
                  </div>
                </div>
                
                
              </div>
              <div class="box-body" >
              <h5 align="center">ORGANIZATION HISTORIES</h5>
              
                  <!-- <label for="org" class="col-sm-2 control-label">Organization Histories</label> -->

                  <div class="col-sm-12">
                  <div class="form-group">
                    <input type="text" class="form-control" name="org1" ng-model="org1" placeholder="1) .....">
                    </div>
                    <div class="form-group">
                    <input type="text" class="form-control" name="org2" ng-model="org2" placeholder="2) .....">
                    </div>
                    <div class="form-group">
                    <input type="text" class="form-control" name="org3" ng-model="org3" placeholder="3) .....">
                    </div>
                  </div>
               
                
              </div>

              <div class="box-body" >
              <h5 align="center">WORK STORIES</h5>
                
                 <!--  <label for="work" class="col-sm-2 control-label">Work Stories</label> -->

                  <div class="col-sm-12">
                  <div class="form-group">
                    <input type="text" class="form-control" name="work1" ng-model="work1" placeholder="1) .....">
                    </div>
                    <div class="form-group">
                    <input type="text" class="form-control" name="work2" ng-model="work2" placeholder="2) .....">
                    </div>
                    <div class="form-group">
                    <input type="text" class="form-control" name="work3" ng-model="work3" placeholder="3) .....">
                    </div>
                  </div>
                
                
              </div>
              <div class="box-body" >
              <h5 align="center">PRESTASI</h5>
                
                 <!--  <label for="prestasi" class="col-sm-2 control-label">Prestasi</label>
 -->
                  <div class="col-sm-12">
                  <div class="form-group">
                    <input type="text" class="form-control" name="prestasi1" ng-model="prestasi1" placeholder="1) .....">
                    </div>
                    <div class="form-group">
                    <input type="text" class="form-control" name="prestasi2" ng-model="prestasi2" placeholder="2) .....">
                    </div>
                    <div class="form-group">
                    <input type="text" class="form-control" name="prestasi3" ng-model="prestasi3" placeholder="3) .....">
                    </div>
                  </div>
                
                
              </div>
             
            </form>
           
          </div>
          </div>
         

          </div>
          <div class="col-md-1"></div>
          <br>
          <br>
          
            <br>
          <div class="row" pdf-save-content="CV">
            <div class="col-md-2"></div>
          <div class="col-md-9">
            <div class="box box-info">
            <div class="box-header with-border" >
              <h3 class="box-title" align="center">CURRICULUM VITAE</h3>
            </div>
             <div class="box-body" ng-controller="getMyProfileStudentCtrl">
             <div class="row">
             <div class="col-sm-3"> 
                  <img ng-src="http://192.168.0.13:8080/images/student/{{student.user_profile.images}}" width="170" height="300" alt=""  />
              </div>
             <div class="col-sm-6">
              <h6>SELF INFORMATIONS</h6>
                <table >
                <tr>
                  <th style="width: 200px"></th>
                  <th style="width: 25px"></th>
                  <th style="width: 900px"></th>
                  <th></th>
                </tr>
                <tr>
                  <td> <label for="email" class="col-sm-2 control-label">Fullname</label></td>
                  <td>:</td>
                  <td>{{student.full_name}}</td>
                </tr>
                 <tr>
                  <td><label for="email" class="col-sm-2 control-label">Email</label></td>
                  <td>:</td>
                  <td>{{student.email}}</td>
                </tr>
                 <tr>
                  <td><label for="contact" class="col-sm-2 control-label">Contact</label></td>
                  <td>:</td>
                  <td>{{student.user_profile.contact}}</td>
                </tr>
                <tr>
                  <td><label for="address" class="col-sm-2 control-label">Address</label></td>
                  <td>:</td>
                  <td>{{student.user_profile.address}}</td>
                </tr>
                 <tr>
                  <td><label for="gender" class="col-sm-2 control-label">Gender</label></td>
                  <td>:</td>
                  <td>{{student.gender}}</td>
                </tr>
                 <tr>
                  <td><label for="description" class="col-sm-2 control-label">Description</label></td>
                  <td>:</td>
                  <td>{{student.user_profile.description}}</td>
                </tr>
                </table>
                </div>
                
            </div>
            </div>
            
            <div class="box-body" ng-controller="addCVCtrl">
              <h6>EDUCATION HISTORIES</h6>
                <table >
                <tr>
                  <th style="width: 200px"></th>
                  <th style="width: 25px"></th>
                  <th style="width: 900px"></th>
                </tr>
                <tr>
                  <td> <label for="email" class="col-sm-2 control-label">SD</label></td>
                  <td>:</td>
                  <td>{{sd}}</td>
                </tr>
                 <tr>
                  <td><label for="email" class="col-sm-2 control-label">SMP</label></td>
                  <td>:</td>
                  <td>{{smp}}</td>
                </tr>
                 <tr>
                  <td><label for="contact" class="col-sm-2 control-label">SMA</label></td>
                  <td>:</td>
                  <td>{{sma}}</td>
                </tr>
                <tr>
                  <td><label for="address" class="col-sm-2 control-label">Kuliah</label></td>
                  <td>:</td>
                  <td>{{kuliah}}</td>
                </tr>
                </table>
            </div>
            <div class="box-body" ng-controller="addCVCtrl">
              <h6>ORGANIZATION HISTORIES</h6>
                <table >
                <tr>
                  <th style="width: 50px"></th>
                  <th style="width: 900px"></th>
                </tr>
                <tr>
                  <td> <label for="email" class="col-sm-2 control-label">1.</label></td>
                  <td>{{work1}}</td>
                </tr>
                 <tr>
                  <td><label for="email" class="col-sm-2 control-label">2.</label></td>
                  <td>{{work2}}</td>
                </tr>
                 <tr>
                  <td><label for="contact" class="col-sm-2 control-label">3.</label></td>
                  <td>{{work3}}</td>
                </tr>
                </table>
            </div>
            <div class="box-body" ng-controller="addCVCtrl">
              <h6>PRESTASI</h6>
                <table >
                <tr>
                  <th style="width: 50px"></th>
                  <th style="width: 900px"></th>
                </tr>
                <tr>
                  <td> <label for="email" class="col-sm-2 control-label">1.</label></td>             
                  <td>{{prestasi1}}</td>
                </tr>
                 <tr>
                  <td><label for="email" class="col-sm-2 control-label">2.</label></td>               
                  <td>{{prestasi2}}</td>
                </tr>
                 <tr>
                  <td><label for="contact" class="col-sm-2 control-label">3.</label></td>
                  <td>{{prestasi3}}</td>
                </tr>              
                </table>
            </div>
            <div class="box-body" ng-controller="getMyProfileStudentCtrl">
              <h6>SKILLS</h6>
                <table >
                <tr>
                  <th style="width: 50px"></th>
                  <th style="width: 900px"></th>
                </tr>
                <tr ng-repeat="skill in usersprofile">
                  <td> <label for="email" class="col-sm-2 control-label">{{$index + 1}}.</label></td>             
                  <td>{{skill.name}}</td>
                </tr> 
                </table>
            </div>
            <br>
             <div class="text-right">
          <a  pdf-save-button="CV" pdf-name="CV_{{student.full_name}}.pdf" class="btn btn-theme" >DOWNLOAD TO PDF</a>
           <a  href="#!/uploadCV" class="btn btn-theme">Lanjutkan</a>
          </div>
        </div>
        </div>
         <div class="col-md-1"></div>
        </div>
            </div>

        </div>
    </section>