
<section id="featured">
  <!-- start slider -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
  <!-- Slider -->
        <div id="main-slider" class="flexslider">
            <ul class="slides">
              <li >
                <img src="assets/img/slides/1.jpg" alt="" />
                <div class="flex-caption">
                    <h3>Part Time Job</h3> 
          <p>In this case, part time job contain jobs that can work not full time, such as 8 hours in a day.</p> 
          <a href="#" class="btn btn-theme">Learn More</a>
                </div>
              </li>
              <li >
                <img src="assets/img/slides/2.jpg" alt="" />
                <div class="flex-caption">
                    <h3>How I can use this</h3> 
          <p>You can use this website to browse or search jobs part time. If you are employer from company.</p> 
          <a href="#" class="btn btn-theme">Learn More</a>
                </div>
              </li>
              <li >
                <img src="assets/img/slides/3.jpg" alt="" />
                <div class="flex-caption">
                    <h3>Have any question</h3> 
          <p>You can give some question to the website with access faq</p> 
          <a href="#" class="btn btn-theme">Learn More</a>
                </div>
              </li>
            </ul>
        </div>
  <!-- end slider -->
      </div>
    </div>
  </div>  
  
  

  </section>



  <section class="callaction">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="big-cta">
          <div class="cta-text">
            <h2>Welcome to our website<span> parttimejobseeker.com</span></h2>
            <br>
            <h4>to apply some jobs, you must login first.</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>


   
  <section id="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-8" ng-controller="getAllJobsCtrl">

      

          
            <div >
         <div ng-repeat="job in (results = (jobs | filter:search | orderBy:ord:'-created_at'))"
            ng-if="$index >= (currentpage*pagesize) && $index < ((currentpage+1)*pagesize)" >   
        <article  >
           <!--  <div class="post-image">
            </div> -->
              <div class="post-heading">
                <h5><a href="#!/categoryjob/company/{{job.employer_id}}"  > {{ job.employer.company.company_name}}</a> | {{job.job_type.type_name}} <br></h5>
              </div>
              <!-- <img src="assets/img/dummies/blog/img1.jpg" alt="" /> -->
              <i class="fa fa-map-marker"></i>   {{job.job_position}}<br>
                <i class="fa fa-phone-square"></i> {{job.employer.company.company_contact}}<br>
                with facilities such as {{job.job_facilities}}<br>
                Jobs available at {{job.job_open| date: 'dd MMMM yyyy'}} <i class="glyphicon glyphicon-minus"></i> {{job.job_close| date: 'dd MMMM yyyy'}}<br>
            <div class="bottom-article">
              <ul class="meta-post">
                <li><i class="icon-calendar"></i><a href="#">{{job.created_at}}</a></li>
                <li><i class="icon-folder-open"></i><a href="#"> Like</a></li>
                <li><i class="icon-comments"></i><a href="#">4 Comments</a></li>
              </ul>
              <a href="#!/categoryjobs/{{job.id}}/detail" ng-click="getJob(job.id)" class="pull-right">Read More <i class="icon-angle-right"></i></a>
            </div>
        </article>

         </div>
         </div>
        
        
        <div class="row text-center" >
                         <ul class="pagination">
                    <li>
                      <a href="" aria-label="Previous" ng-click="paging(0)">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    <li ng-repeat ="i in getNumber(pagenumber) track by $index"
                        ng-class="currentpage == $index ? 'active':''">
                        <a href="" ng-click="getPage($index)">{{$index +1}}</a>
                    </li>
                    
                    <li>
                      <a href="" aria-label="Next" ng-click="paging(1)">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  </ul>    
                        </div>
      </div><!--col-->

      <div class="col-lg-4">
        <aside class="right-sidebar">
        <div class="widget">
          <form class="form-search">
            <input class="form-control" type="text" ng-model="search" placeholder="Search..">
          </form>
        </div>
        
        <div class="widget" ng-controller="getAllCompaniesCtrl">
          <h5 class="widgetheading">Company Joined</h5>
          <ul class="recent" style="font-size:11px">
            <li ng-repeat="comp in companiestData | orderBy: '-created_at'| limitTo: 7">
            <img src="assets/img/dummies/blog/65x65/thumb1.jpg" class="pull-left" alt="" />
            <h6><a href="#!/categoryjob/company/{{comp.employer_id}}">{{comp.company_name}}</a></h6>
            <i class="fa fa-map-marker"></i> {{comp.company_address}}<br>
            <i class="fa fa-phone-square"></i> {{comp.company_contact}}<br>
             <i class=" fa fa-envelope"></i> {{comp.company_email}}
           
           
            </li>
          </ul>
        </div>
        <div class="widget" ng-controller="getAllCompaniesCtrl">
          <h5 class="widgetheading">Jobs Available</h5>
          <ul class="tags" ng-repeat="type in jobtypes">
            <li><a href="">{{type.type_name}}</a></li>
           
          </ul>
        </div>
        </aside>
      </div>
    </div><!--row-->
  </div>
  </section>



<script src="assets/js/jquery.js"></script>
<script src="assets/js/jquery.easing.1.3.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.fancybox.pack.js"></script>
<script src="assets/js/jquery.fancybox-media.js"></script>
<script src="assets/js/google-code-prettify/prettify.js"></script>
<script src="assets/js/portfolio/jquery.quicksand.js"></script>
<script src="assets/js/portfolio/setting.js"></script>
<script src="assets/js/jquery.flexslider.js"></script>
<script src="assets/js/animate.js"></script>
<script src="assets/js/custom.js"></script>
<script src="assets/js/profilepage.js"></script>
<script src="assets/js/main.js"></script>

