<div class="term1">
  <h1 style="text-align: center;">Login to your Account</h1>
  <hr>
    <div class="tablogin">
      <button class="tablinks" onclick="loginTab(event, 'StudentLogin')" id="defaultOpen">Login As Student</button>
      <button class="tablinks" onclick="loginTab(event, 'EmployerLogin')">Login As Employer</button>
    </div>

    <div id="StudentLogin" class="tablogincontent" ng-controller="loginAuthServiceCtrl">
         <form>
            <div class="form-group">
            <label for="username">Email</label>
            <input class="form-control" ng-model="email" placeholder="student email">
            </div>
            <div class="form-group">
            <label for="pwd">Password</label>
            <input type="password" class="form-control" ng-model="password" placeholder="Password">
            </div>
        </form>
        <div class="control-group">
            <!-- Button -->
            <div class="controls">
              <input type="button" value="Send" ng-click="postLogin(email, password)" /> <br/><br/>
            </div>
            <h2> {{ loginMsg }} <strong> {{loginMsgRedirect}} </strong> </h2>
            <p> {{ regMsg }} </p>
        </div>
        <hr>
        <strong>Don't have an account?</strong><span><a class="nav-link" href="#!/register">Register</a></span>
    </div>

    <div id="EmployerLogin" class="tablogincontent" ng-controller="loginAuthServiceCtrl">
        <form>
            <div class="form-group">
            <label for="username">Email</label>
            <input class="form-control" ng-model="email" placeholder="student email">
            </div>
            <div class="form-group">
            <label for="pwd">Password</label>
            <input type="password" class="form-control" ng-model="password" placeholder="Password">
            </div>
        </form>
        <div class="control-group">
            <!-- Button -->
            <div class="controls">
              <input type="button" value="Send" ng-click="postLogin(email, password)" /> <br/><br/>
            </div>
            <h2> {{ loginMsg }} <strong> {{loginMsgRedirect}} </strong> </h2>
            <p> {{ regMsg }} </p>
        </div>
        <hr>
        <strong>Don't have an account?</strong><span><a class="nav-link" href="#!/register">Register</a></span>
    </div>
</div>