<div class="term1">
    <div>
        <h1>Terms of Services</h1>
        <br>
        <hr>
    </div>
    <h2>Definition</h2>
    <br>
    <h3>What mean to be:</h3>
    <h4>Student</h4>
    <h5>Is a part-time job seeker, who are a <strong>High School Students</strong> that looking for a job as a part time employee.</h5>
    <br>
    <h4>Employer</h4>
    <h5>Is a part-time job employer, who are a <strong>Companies</strong> that provide a jobs for those who want to apply, in this case "<strong>Students</strong>".</h5>
    <br>
    <hr>
    <p> 
     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dapibus accumsan malesuada. 
     Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec eu faucibus velit. 
     Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla iaculis facilisis nulla, eu mollis nulla tempor et. 
     Phasellus tincidunt urna sit amet lectus commodo pulvinar. Nunc ut lacus nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam tristique dolor urna, nec elementum enim tempus eu. 
     Vestibulum vitae consequat nulla. Etiam vulputate tempus accumsan. Nullam aliquam sit amet odio ac varius. Suspendisse semper a enim at convallis. 
     Duis vehicula, justo in malesuada placerat, leo tellus volutpat dolor, eget rutrum nisl nisl id dolor. Etiam a lacus mi.   
    </p>    
</div>