<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="breadcrumb">
          <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
          <li class="active">Manage Company</li>
          <li class="active">Invite Job</li>
        </ul>
      </div>
    </div>
  </div>
  </section>
  <section id="content">
  <div class="container" ng-controller="getAllStudentCtrl">
    <div class="row">
      <div class="col-lg-8">
        <div class="big-cta">
          <div class="cta-text">
            <h2><span>INVITE STUDENTS FOR JOB</span></h2>
          </div>
        </div>
        <div class="row" >
          <div class="col-lg-4" ng-repeat ="stud in (results = (students | filter:q | orderBy:ord:'-created_at'))"
            ng-if="$index >= (currentpage*pagesize) && $index < ((currentpage+1)*pagesize)">
          <div class="row">
            <div class="box">
              <div class="box-gray ">
                <h5 class="aligncenter"> <a href="#!/studentprofile/{{stud.user_id}}" title="see her/his profile">{{stud.user.full_name}}</a></h5>
                <div class="icon" >
                <img ng-src="http://192.168.0.11:8080/images/student/{{stud.images}}" class="aligncenter">
                <br>
                <br>
                </div>
               
                <p style="font-size:11px"><i class="fa fa-map-marker"></i>   {{stud.address}}<br></p>
                <i class="fa fa-envelope"></i> {{stud.user.email}}<br>
                <i class="fa fa-phone-square"></i> {{stud.contact}}<br>
                
                <p style="font-size:10px" class="pull-right">For see skills, click<a href="#!/filterstudents/{{stud.user_id}}/detail"  ng-click="getStudent(stud.user_id)"> Details</a></p>
              </div>

              <div class="box-bottom">
                <a href="" ng-click="postInviteJob(stud.user_id)">Invite</a>
              </div>
            </div>
          </div>
          </div>
        </div>
        <div class="row text-center" >
                         <ul class="pagination">
                    <li>
                      <a href="" aria-label="Previous" ng-click="paging(0)">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    <li ng-repeat ="i in getNumber(pagenumber) track by $index"
                        ng-class="currentpage == $index ? 'active':''">
                        <a href="" ng-click="getPage($index)">{{$index +1}}</a>
                    </li>
                    
                    <li>
                      <a href="" aria-label="Next" ng-click="paging(1)">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  </ul>    
                        </div>
      </div>
      <div class="col-lg-4">
        <aside class="right-sidebar">
        <div class="widget">
          <form class="form-search">
            <input class="form-control" type="text" ng-model="q" placeholder="Search..">
          </form>
        </div>
        <div class="widget">
          <h5 class="widgetheading">Qualifies</h5>
          <ul class="cat">
            <li  ng-repeat="qualify in qualifies"><i class="icon-angle-right"></i><a href="#!/filterstudents/qualify/{{qualify.id}}"  ng-click="getQualify(qualify.id)">{{qualify.name}}</a><span > ({{qualify.jumlah}})</span></li>
          </ul>
        </div>

        
        <div class="widget">
          <h5 class="widgetheading">Popular tags</h5>
          <ul class="tags">
            <li><a href="#">Web design</a></li>
            <li><a href="#">Trends</a></li>
            <li><a href="#">Technology</a></li>
            <li><a href="#">Internet</a></li>
            <li><a href="#">Tutorial</a></li>
            <li><a href="#">Development</a></li>
          </ul>
        </div>
        </aside>
      </div>
    </div>
  </div>
  </section>