<div>
  <h1 style="margin-top: 10px;">
    <ul>
        <li>Job Detail</li>
        <li style="float: right; padding-right: 200px;"><a href="#">NewsFeed</a></li>
    </ul>
  </h1>
  <hr> 
  <!--thin line-->
</div>

<!--Newsfeed-->
<div style="float: right; margin-top: 10px" class="rightpane">
  <div class="container">
    <div class="notice notice-success">
        <strong>Boarding Labs, CV</strong> just posted a new job
    </div>
    <div class="notice notice-danger">
        <strong>Be Careful</strong> of fake employer, research before apply!
    </div>
    <div class="notice notice-info">
        <strong>Update</strong> Part Time Job Seeker will be updated soon ..
    </div>
    <div class="notice notice-warning">
        <strong>Warning</strong> this website use cookies
    </div>
    <div class="notice notice-lg">
        <strong>Warunk Upnormal</strong> will be hiring soon!
    </div>
    <div class="notice notice-sm">
        <strong>Ignore</strong> Ignore This ..
    </div>
  </div>
</div>
<!--Newsfeed-->

<!--Masih belum responsive-->
<div class="leftpane">
    <div class="jobdetail">
        <img src="assets/img/boardinglabs.png">
    </div>
    <div class="jobdetail" style="margin-left: 15px;">
        <p>Company Name</p>
        <h3>Boarding Labs</h3>
        <p>Company Address</p>
        <h3>Jl. Matrapersada No. 16</h3>
        <p>Company Description</p>
        <h3>Adalah sebuah perusahaan yang bergerak di bidang IT Consultant,<br> Software Development, Graphic Design, dll.</h3>
        <p>Contact</p>
        <h3>(022)20270135 / contact@boardinglabs.com</h3>
    </div>
</div>
<div class="leftpane" style="background-color: #ccccb3; border-radius: 3px; margin-top: 15px;">
    <div class="leftpane">
        <h1>POSITION :</h1>
        <h3>Barista Kantor IT</h3>
        <br>
        <h1>LOOKING FOR :</h1>
        <h3>Wanita atau Pria</h3>
        <h3>Pelajar SMA/SMK</h3>
        <h3>Pekerja Keras</h3>
        <h3>Rajin dan Cekatan</h3>
        <h3>Dapat memenuhi kebutuhan Kafein Programmer</h3>
        <br>
        <h1>FACILITIES :</h1>
        <h3>Ruangan Kerja</h3>
        <h3>Gaji + Bonus</h3>
        <h3>Berkesempatan memenangkan hadiah liburan</h3>
    </div>
    <div class="rightpane" style="margin-top: 20px;">
        <button type="submit" class="btn btn-success btn-lg" data-toggle="modal" data-target="#exampleModal"><strong>APPLY NOW</strong></button>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!--Masih belum responsive-->


    