<div class="term1">
  <h1 style="text-align: center;">Create Account</h1>
  <hr>

  <div class="tabregister">
    <button class="tablinks" onclick="registerTab(event, 'StudentRegister')">Register As Student</button>
    <button class="tablinks" onclick="registerTab(event, 'EmployerRegister')">Register As Employer</button>
  </div>

  <div id="StudentRegister" class="tabregistercontent"  ng-controller="studRegServiceCtrl">
    <form action="#">
      <div class="form-group">
        <label for="username">Full Name :</label>
        <input class="form-control" ng-model="full_name" placeholder="student fullname" name="fullname">
      </div>
      <div class="form-group">
        <label for="username">Username :</label>
        <input class="form-control" ng-model="username" placeholder="email" name="email">
      </div>
      <div class="form-group">
        <label>Select Gender :</label><br>
        <input type="radio" ng-model="gender" value="Male" required>  Male <br/>
        <input type="radio" ng-model="gender" value="Female" required> Female <br/>
        
        <!--<input class="form-control" ng-model="gender" placeholder="Male / Female" name="gender">-->
      </div>
      <div class="form-group">
        <label for="username">email :</label>
        <input class="form-control" ng-model="email" placeholder="email" name="email">
      </div>
      <div class="form-group">
        <label for="username">Password :</label>
        <input type="password" class="form-control" ng-model="password" placeholder="password" name="password">
      </div>

      <div class="control-group">
        <!-- Button -->
        <div class="controls">
        
          <input type="button" value="Send" ng-click="postRegister(full_name, username, gender, email, password)" /> <br/><br/>
          <p> {{ regMsg }} </p>
          <p> {{ regMsgStatus }} </p>
        </div>
      </div>
    </form>
  </div>

  <div id="EmployerRegister" class="tabregistercontent" ng-controller="emplRegServiceCtrl">
    <form action="#">
      <div class="form-group">
        <label for="username">Full Name :</label>
        <input class="form-control" ng-model="full_name" placeholder="company representative fullName" name="fullName">
      </div>
      <div class="form-group">
        <label for="username">Username :</label>
        <input class="form-control" ng-model="username" placeholder="email" name="email">
      </div>
      <div class="form-group">
        <label>Select Gender :</label><br>
        <input type="radio" ng-model="gender" value="Male" required>  Male <br/>
        <input type="radio" ng-model="gender" value="Female" required> Female <br/>
        
        <!--<input class="form-control" ng-model="gender" placeholder="Male / Female" name="gender">-->
      </div>
      <div class="form-group">
        <label for="username">Email :</label>
        <input class="form-control" ng-model="email" placeholder="password" name="password">
      </div>
      <div class="form-group">
        <label for="username">Password :</label>
        <input class="form-control" ng-model="password" placeholder="company name" name="company name">
      </div>
      <br>
       <!--<label>Upload Your Company's Icon</label>
      <form action="#">
        <input type="file" name="doc" accept="image/*">
      </form>-->
      <br>
      <div class="control-group">
        <!-- Button -->
        <div class="controls">
           <input type="button" value="Send" ng-click="postRegister(full_name, username,  gender, email, password)" /> <br/>
          <p> {{ regMsg }} </p>
          <p> {{ regMsgStatus }} </p>
        </div>
      </div>
    </form>
  </div>

</div>