<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="breadcrumb">
          <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
          <li class="active">Browse Jobs</li>
          <li class="active">Categories</li>
        </ul>
      </div>
    </div>
  </div>
  </section>
  <section id="content" ng-controller="getAllJobsCtrl">
  <div class="container" ng-init="getType()">
    <div class="row">
      <div class="col-lg-8">
        <div class="big-cta">
          <div class="cta-text">
            <h2><span>TIPE KETEGORI</span></h2>
          </div>
        </div>
        <div class="row" >
          <div class="col-lg-4" ng-repeat="select in js | filter:q">
          <div class="row">
            <div class="box">
              <div class="box-gray ">
                <h5 class="aligncenter">{{select.job_type.type_name}}</h5>
                <div class="icon" >
                <img ng-src="http://192.168.0.11:8080/images/company/{{select.employer.company.company_logo}}" class="aligncenter">
                <br>
                <br>
                </div>
                <a href="#!/categoryjob/company/{{select.employer_id}}"  ><i class="fa fa-suitcase"></i> {{ select.employer.company.company_name}}</a><br>
                <i class="fa fa-map-marker"></i>   {{select.job_position}}<br>
                <i class="fa fa-phone-square"></i> {{select.employer.company.company_contact}}<br>
                <p style="font-size:10px"><i class="fa fa-money"></i> {{select.min_salary| currency:"Rp."}} <i class="glyphicon glyphicon-minus"></i> {{select.max_salary| currency:"Rp."}}<br>
                <i class="fa fa-calendar"></i> {{select.job_open| date: 'dd MMMM yyyy'}} <i class="glyphicon glyphicon-minus"></i> {{select.job_close| date: 'dd MMMM yyyy'}}</p><br>
                <a href="#!/categoryjobs/{{select.id}}/detail" ng-click="getJob(select.id)" class="pull-right" style="font-size:10.5px"><u>See Details Job</u></a>
              </div>
              <div class="box-bottom">
                <a ng-click="postApply(job.id)">Apply</a>
              </div>
            </div>
          </div>
          </div>
        </div>
        <div id="pagination">
          <span class="all">Page 1 of 3</span>
          <span class="current">1</span>
          <a href="#" class="inactive">2</a>
          <a href="#" class="inactive">3</a>
        </div>
      </div>
      <div class="col-lg-4">
        <aside class="right-sidebar">
        <div class="widget">
          <form class="form-search">
            <input class="form-control" type="text" ng-model="q" placeholder="Search..">
          </form>
        </div>
        <div class="widget" ng-controller="getAllJobsCtrl">
          <h5 class="widgetheading">{{jb.type_name}}</h5>
          <ul class="cat">
           <li  ng-repeat="j in jb"><i class="icon-angle-right"></i><a href="#!/categoryjob/{{j.jobtype_id}}"  >{{j.type_name}}</a><span > ({{j.jumlah}})</span></li>
             <!--<li ><i class="icon-angle-right"></i><a href="#">Shopkeeper</a><span> (11)</span></li>
           <li><i class="icon-angle-right"></i><a href="#">Model/Endorsement</a><span> (9)</span></li>
            <li><i class="icon-angle-right"></i><a href="#">promotor/sales</a><span> (12)</span></li>
            <li><i class="icon-angle-right"></i><a href="#">Blog Writter</a><span> (18)</span></li>
            <li><i class="icon-angle-right"></i><a href="#">Babysitter</a><span> (9)</span></li>
            <li><i class="icon-angle-right"></i><a href="#">Graphic Designer</a><span> (12)</span></li>
            <li><i class="icon-angle-right"></i><a href="#">Private Teacher</a><span> (18)</span></li>
            <li><i class="icon-angle-right"></i><a href="#">Copy Writter</a><span> (18)</span></li>-->
          </ul>
        </div>
       <div class="widget">
          <h5 class="widgetheading">Latest jobs</h5>
          <ul class="recent">
            <li ng-repeat="show in jobs  | orderBy: '-created_at' | limitTo: 6">
            <img ng-src="http://192.168.0.11:8080/images/company/{{show.employer.company.company_logo}}" width="50" height="50" class="pull-left" alt="" />
           
            <a href="#!/categoryjob/company/{{show.employer_id}}" style="font-size:11px">{{ show.employer.company.company_name}}</a>
             <p style="font-size:10.5px">
             Has been post a job as {{show.job_type.type_name}}
                at
               {{show.created_at}}
            </p>
            </li>
           
          </ul>
        </div>
        <div class="widget">
          <h5 class="widgetheading">Popular tags</h5>
          <ul class="tags">
            <li><a href="#">Web design</a></li>
            <li><a href="#">Trends</a></li>
            <li><a href="#">Technology</a></li>
            <li><a href="#">Internet</a></li>
            <li><a href="#">Tutorial</a></li>
            <li><a href="#">Development</a></li>
          </ul>
        </div>
        </aside>
      </div>
    </div>
  </div>
  </section>